<h1>Tests!</h1>
{{#each test}}
  <div class="test"> <h3>{{name}}</h3>
    <p>{{description}}</p>
    {{#if inSeason}}
      <span class="price">{{price}}</span>
      <a href="/cart/add?sku={{sku}}" class="btn btn-default">Buy Now!</a>
    {{else}}
      <span class="outOfSeason">We're sorry, this test is currently not in season.
      {{! The "notify me when this tes is in season" page will be our next task. }}
      <a href="/notify-me-when-in-season?sku={{sku}}">Notify me when this test is in season.</a>
    {{/if}}
  </div>
{{/each}}